<swiper-container grid-rows="1" mousewheel-force-to-axis="true" class="mb-5" loop="true" [slidesPerView]="getSlidesPerView()">
  <ng-container *ngFor="let item of list">
    <swiper-slide *ngIf="item.poster_path" class="m-2">
      <div class="card" >
        <img class="card-img-top w-100" src="https://image.tmdb.org/t/p/original{{item.poster_path}}" alt="">
        <div class="card-body p-0">
          <p class="fs-6 g-0 p-1 pt-2 text-truncate" [title]="item.title">{{item?.title}}</p>
        </div>
      </div>
    </swiper-slide>
  </ng-container>
</swiper-container>