<div class="container">
  <div class="row p-2">
    <div class="col-12 col-md-3">
      <img src="https://image.tmdb.org/t/p/original{{details?.profile_path}}" alt="" class="w-100 rounded-3">
      <div class="info">
        <h1 class="mt-3">Personal Info</h1>
        <p class="fw-bold m-0 pt-3">Birthday</p>
        <p>{{details?.birthday}}</p>
        <p class="fw-bold m-0 pt-3">Place of Birth</p>
        <p>{{details?.place_of_birth}}</p>
        <p class="fw-bold m-0 pt-3">Also Known As</p>
        <p *ngFor="let known of details?.also_known_as">{{known}}</p>
      </div>
    </div>
    <div class="col-12 col-md-9">
      <p class="display-5 fw-semibold">{{details?.name}}</p>
      <h1 *ngIf="details?.biography">Biography</h1>
      <p class="text-secondary">{{details?.biography}}</p>
      <h1 class="mt-3" *ngIf="movies">Knows as</h1>
      <swiper-container grid-rows="1" mousewheel-force-to-axis="true" class="mb-5" [s] loop="true" [slidesPerView]="getSlidesPerView()">
        <ng-container *ngFor="let simi of movies">
          <swiper-slide *ngIf="simi.poster_path" class="m-2" [routerLink]="['/movie',simi.id]">
            <div class="card" >
              <img class="card-img-top w-100" src="https://image.tmdb.org/t/p/original{{simi.poster_path}}" alt="">
              <div class="card-body p-0">
                <p class="fs-6 g-0 p-1 pt-2 text-truncate" [title]="simi.title">{{simi?.title}}</p>
              </div>
            </div>
          </swiper-slide>
        </ng-container>
      </swiper-container>
    </div>
  </div>
</div>